@import "../../styles/variables";

.technologies {
  // padding-top: 100px;
  text-align: center;
}

.technologies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
}

.dev-icon {
  font-size: 4rem;
  color: $light-gray;
  margin: 15px;
}

.dev-icon:hover {
  color: $red;
}

.tech-name {
  margin-top: -7px;
  font-size: 12px;
}

@media only screen and (max-width: 1000px) {
  .technologies {
    padding-top: 40px;
  }
  .technologies-container {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
  }
  .dev-icon {
    text-align: center;
    font-size: 3rem;
  }
}
