@import "../../styles/variables";

.technologies {
  padding-top: 100px;
  text-align: center;
  // height: 100vh;
}

.technology-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
}

.dev-icon {
  font-size: 4rem;
  color: $light-gray;
  margin: 15px;
}

.dev-icon:hover {
  color: $red;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  // .technologies {
  //   padding-top: 40px;
  // }

  .technology-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
