//Standard Colors
$white: #eeebe2;
$gray: #99947f;
$lighter-gray: #d6d3cb;
$light-gray: #c0beb7;
$black: #080909;
$red: #c87e74;
$green: #7fa480;

.header-text-gray {
  color: $gray;
}

.header-text-black {
  color: $black;
}
