//Standard Colors
$white: #eeebe2;
$gray: #99947f;
$lighter-gray: #d6d3cb;
$light-gray: #c0beb7;
$black: #080909;
$red: #c87e74;
$green: #7fa480;

/*!
  * @preserve
  * MonoLisa 1.808
  * Release date: 2022-02-28
  * This font is subject to a EULA. A user-licence can be acquired at:
  *   https://monolisa.dev
  * Â© 2022 FaceType Foundry. All Rights Reserved.
  */
@font-face {
  src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbImNhbHQiLCJsaWdhIiwiemVybyIsInNzMDEiLCJzczAyIiwic3MwMyIsInNzMDQiLCJzczA1Iiwic3MwNiIsInN1cHMiLCJzdWJzIiwib251bSIsImZyYWMiXSwiZXhjbHVkZSI6W10sIndlaWdodCI6NDAwLCJzdHlsZSI6Im5vcm1hbCIsInVuaWNvZGVSYW5nZSI6IlUrMDAwMC0wMEZGLCBVKzAxMzEsIFUrMDE1Mi0wMTUzLCBVKzAyQkItMDJCQywgVSswMkM2LCBVKzAyREEsIFUrMDJEQywgVSsyMDAwLTIwNkYsIFUrMjA3NCwgVSsyMEFDLCBVKzIxMjIsIFUrMjE5MSwgVSsyMTkzLCBVKzIyMTIsIFUrMjIxNSwgVStGRUZGLCBVK0ZGRkQsVSswMDI0LCBVKzIwYWMsIFUrMDE5MiwgVSsyMGJhLCBVKzIwYjEsIFUrMjBiZCwgVSsyMGI5LCBVKzAwYTMsIFUrMDBhNSwgVSsyMGJmLCBVKzBlM2YsIFUrMDBhMiwgVSswMGE0LCBVKzAwMmIsIFUrMjIxMiwgVSswMGQ3LCBVKzAwZjcsIFUrMDAzZCwgVSsyMjYwLCBVKzAwM2UsIFUrMDAzYywgVSsyMjY1LCBVKzIyNjQsIFUrMDBiMSwgVSsyMjQ4LCBVKzAwN2UsIFUrMDBhYywgVSswMDVlLCBVKzIyMDUsIFUrMmI1OCwgVSsyMjFlLCBVKzIyMmIsIFUrMjIwZiwgVSsyMjExLCBVKzIyMWEsIFUrMjIwMiwgVSswMDI1LCBVKzIwMzAsIFUrMjE5MSwgVSsyMTk3LCBVKzIxOTIsIFUrMjE5OCwgVSsyMTkzLCBVKzIxOTksIFUrMjE5MCwgVSsyMTk2LCBVKzIxOTQsIFUrMjE5NSwgVSsyNWNhLCBVKzI2MTAsIFUrMjYxMSwgVSsyNjEyLCBVKzAwNDAsIFUrMDAyNiwgVSswMGI2LCBVKzAwYTcsIFUrMDBhOSwgVSswMGFlLCBVKzIxMjIsIFUrMDBiMCwgVSswMDdjLCBVKzAwYTYsIFUrMjAyMCwgVSsyMTEzLCBVKzIxMmUsIFUrMjAyMSwgVSsyMTE2LCBVKzI3YjIsIFUrMjYwMSwgVSsxZjMyNywgVSsxZjMyOSwgVSsyNjA3LCBVKzI2MjAsIFUrMjYzOSwgVSsyNjNhLCBVKzI2M2IsIFUrMjYzYywgVSsyNjNlLCBVKzI2NjUsIFUrMjc0NCwgVSsyMzg3LCBVKzIzOGIsIFUrMWYzMTAsIFUrMWY0YjMsIFUrMWY1MTIsIFUrMWY1MTMsIFUrMjFlYSwgVSsyMzI3LCBVKzIzMmIsIFUrMjMyNiwgVSsyM2NmLCBVKzIzMjgsIFUrMjMyNSwgVSsyMzE4LCBVKzIzY2UsIFUrMjNmYiwgVSsyM2ZjLCBVKzJiNTgsIFUrMjNmZCwgVSsyM2ZlLCBVKzIzOTksIFUrMjYxYSwgVSsyNjFiLCBVKzI2MWMsIFUrMjYxZCwgVSsyNjFlLCBVKzI2MWYsIFUrMDBhYSwgVSswMGJhIiwidmVyc2lvbiI6IjEuODA4In0%3D)
    format("woff");
  font-family: ml;
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD, U+0024, U+20ac, U+0192, U+20ba, U+20b1, U+20bd, U+20b9,
    U+00a3, U+00a5, U+20bf, U+0e3f, U+00a2, U+00a4, U+002b, U+2212, U+00d7,
    U+00f7, U+003d, U+2260, U+003e, U+003c, U+2265, U+2264, U+00b1, U+2248,
    U+007e, U+00ac, U+005e, U+2205, U+2b58, U+221e, U+222b, U+220f, U+2211,
    U+221a, U+2202, U+0025, U+2030, U+2191, U+2197, U+2192, U+2198, U+2193,
    U+2199, U+2190, U+2196, U+2194, U+2195, U+25ca, U+2610, U+2611, U+2612,
    U+0040, U+0026, U+00b6, U+00a7, U+00a9, U+00ae, U+2122, U+00b0, U+007c,
    U+00a6, U+2020, U+2113, U+212e, U+2021, U+2116, U+27b2, U+2601, U+1f327,
    U+1f329, U+2607, U+2620, U+2639, U+263a, U+263b, U+263c, U+263e, U+2665,
    U+2744, U+2387, U+238b, U+1f310, U+1f4b3, U+1f512, U+1f513, U+21ea, U+2327,
    U+232b, U+2326, U+23cf, U+2328, U+2325, U+2318, U+23ce, U+23fb, U+23fc,
    U+2b58, U+23fd, U+23fe, U+2399, U+261a, U+261b, U+261c, U+261d, U+261e,
    U+261f, U+00aa, U+00ba;
}
@font-face {
  src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbImNhbHQiLCJsaWdhIiwiemVybyIsInNzMDEiLCJzczAyIiwic3MwMyIsInNzMDQiLCJzczA1Iiwic3MwNiIsInN1cHMiLCJzdWJzIiwib251bSIsImZyYWMiXSwiZXhjbHVkZSI6W10sIndlaWdodCI6NDAwLCJzdHlsZSI6Iml0YWxpYyIsInVuaWNvZGVSYW5nZSI6IlUrMDAwMC0wMEZGLCBVKzAxMzEsIFUrMDE1Mi0wMTUzLCBVKzAyQkItMDJCQywgVSswMkM2LCBVKzAyREEsIFUrMDJEQywgVSsyMDAwLTIwNkYsIFUrMjA3NCwgVSsyMEFDLCBVKzIxMjIsIFUrMjE5MSwgVSsyMTkzLCBVKzIyMTIsIFUrMjIxNSwgVStGRUZGLCBVK0ZGRkQsVSswMDI0LCBVKzIwYWMsIFUrMDE5MiwgVSsyMGJhLCBVKzIwYjEsIFUrMjBiZCwgVSsyMGI5LCBVKzAwYTMsIFUrMDBhNSwgVSsyMGJmLCBVKzBlM2YsIFUrMDBhMiwgVSswMGE0LCBVKzAwMmIsIFUrMjIxMiwgVSswMGQ3LCBVKzAwZjcsIFUrMDAzZCwgVSsyMjYwLCBVKzAwM2UsIFUrMDAzYywgVSsyMjY1LCBVKzIyNjQsIFUrMDBiMSwgVSsyMjQ4LCBVKzAwN2UsIFUrMDBhYywgVSswMDVlLCBVKzIyMDUsIFUrMmI1OCwgVSsyMjFlLCBVKzIyMmIsIFUrMjIwZiwgVSsyMjExLCBVKzIyMWEsIFUrMjIwMiwgVSswMDI1LCBVKzIwMzAsIFUrMjE5MSwgVSsyMTk3LCBVKzIxOTIsIFUrMjE5OCwgVSsyMTkzLCBVKzIxOTksIFUrMjE5MCwgVSsyMTk2LCBVKzIxOTQsIFUrMjE5NSwgVSsyNWNhLCBVKzI2MTAsIFUrMjYxMSwgVSsyNjEyLCBVKzAwNDAsIFUrMDAyNiwgVSswMGI2LCBVKzAwYTcsIFUrMDBhOSwgVSswMGFlLCBVKzIxMjIsIFUrMDBiMCwgVSswMDdjLCBVKzAwYTYsIFUrMjAyMCwgVSsyMTEzLCBVKzIxMmUsIFUrMjAyMSwgVSsyMTE2LCBVKzI3YjIsIFUrMjYwMSwgVSsxZjMyNywgVSsxZjMyOSwgVSsyNjA3LCBVKzI2MjAsIFUrMjYzOSwgVSsyNjNhLCBVKzI2M2IsIFUrMjYzYywgVSsyNjNlLCBVKzI2NjUsIFUrMjc0NCwgVSsyMzg3LCBVKzIzOGIsIFUrMWYzMTAsIFUrMWY0YjMsIFUrMWY1MTIsIFUrMWY1MTMsIFUrMjFlYSwgVSsyMzI3LCBVKzIzMmIsIFUrMjMyNiwgVSsyM2NmLCBVKzIzMjgsIFUrMjMyNSwgVSsyMzE4LCBVKzIzY2UsIFUrMjNmYiwgVSsyM2ZjLCBVKzJiNTgsIFUrMjNmZCwgVSsyM2ZlLCBVKzIzOTksIFUrMjYxYSwgVSsyNjFiLCBVKzI2MWMsIFUrMjYxZCwgVSsyNjFlLCBVKzI2MWYsIFUrMDBhYSwgVSswMGJhIiwidmVyc2lvbiI6IjEuODA4In0%3D)
    format("woff");
  font-family: ml;
  font-weight: 400;
  font-style: italic;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD, U+0024, U+20ac, U+0192, U+20ba, U+20b1, U+20bd, U+20b9,
    U+00a3, U+00a5, U+20bf, U+0e3f, U+00a2, U+00a4, U+002b, U+2212, U+00d7,
    U+00f7, U+003d, U+2260, U+003e, U+003c, U+2265, U+2264, U+00b1, U+2248,
    U+007e, U+00ac, U+005e, U+2205, U+2b58, U+221e, U+222b, U+220f, U+2211,
    U+221a, U+2202, U+0025, U+2030, U+2191, U+2197, U+2192, U+2198, U+2193,
    U+2199, U+2190, U+2196, U+2194, U+2195, U+25ca, U+2610, U+2611, U+2612,
    U+0040, U+0026, U+00b6, U+00a7, U+00a9, U+00ae, U+2122, U+00b0, U+007c,
    U+00a6, U+2020, U+2113, U+212e, U+2021, U+2116, U+27b2, U+2601, U+1f327,
    U+1f329, U+2607, U+2620, U+2639, U+263a, U+263b, U+263c, U+263e, U+2665,
    U+2744, U+2387, U+238b, U+1f310, U+1f4b3, U+1f512, U+1f513, U+21ea, U+2327,
    U+232b, U+2326, U+23cf, U+2328, U+2325, U+2318, U+23ce, U+23fb, U+23fc,
    U+2b58, U+23fd, U+23fe, U+2399, U+261a, U+261b, U+261c, U+261d, U+261e,
    U+261f, U+00aa, U+00ba;
}
@font-face {
  src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbImNhbHQiLCJsaWdhIiwiemVybyIsInNzMDEiLCJzczAyIiwic3MwMyIsInNzMDQiLCJzczA1Iiwic3MwNiIsInN1cHMiLCJzdWJzIiwib251bSIsImZyYWMiXSwiZXhjbHVkZSI6W10sIndlaWdodCI6NDAwLCJzdHlsZSI6Im5vcm1hbCIsInVuaWNvZGVSYW5nZSI6IlUrMDEwMC0wMjRGLCBVKzAyNTksIFUrMUUwMC0xRUZGLCBVKzIwMjAsIFUrMjBBMC0yMEFCLCBVKzIwQUQtMjBDRiwgVSsyMTEzLCBVKzJDNjAtMkM3RiwgVStBNzIwLUE3RkYiLCJ2ZXJzaW9uIjoiMS44MDgifQ%3D%3D)
    format("woff");
  font-family: ml;
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbImNhbHQiLCJsaWdhIiwiemVybyIsInNzMDEiLCJzczAyIiwic3MwMyIsInNzMDQiLCJzczA1Iiwic3MwNiIsInN1cHMiLCJzdWJzIiwib251bSIsImZyYWMiXSwiZXhjbHVkZSI6W10sIndlaWdodCI6NDAwLCJzdHlsZSI6Iml0YWxpYyIsInVuaWNvZGVSYW5nZSI6IlUrMDEwMC0wMjRGLCBVKzAyNTksIFUrMUUwMC0xRUZGLCBVKzIwMjAsIFUrMjBBMC0yMEFCLCBVKzIwQUQtMjBDRiwgVSsyMTEzLCBVKzJDNjAtMkM3RiwgVStBNzIwLUE3RkYiLCJ2ZXJzaW9uIjoiMS44MDgifQ%3D%3D)
    format("woff");
  font-family: ml;
  font-weight: 400;
  font-style: italic;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbImNhbHQiLCJsaWdhIiwiemVybyIsInNzMDEiLCJzczAyIiwic3MwMyIsInNzMDQiLCJzczA1Iiwic3MwNiIsInN1cHMiLCJzdWJzIiwib251bSIsImZyYWMiXSwiZXhjbHVkZSI6W10sIndlaWdodCI6NDAwLCJzdHlsZSI6Im5vcm1hbCIsInVuaWNvZGVSYW5nZSI6IlUrMDQxMCwgVSswNDExLCBVKzA0MTIsIFUrMDQxMywgVSswNDAzLCBVKzA0OTAsIFUrMDQxNCwgVSswNDE1LCBVKzA0MDAsIFUrMDQwMSwgVSswNDE2LCBVKzA0MTcsIFUrMDQxOCwgVSswNDE5LCBVKzA0MGQsIFUrMDQxYSwgVSswNDBjLCBVKzA0MWIsIFUrMDQxYywgVSswNDFkLCBVKzA0MWUsIFUrMDQxZiwgVSswNDIwLCBVKzA0MjEsIFUrMDQyMiwgVSswNDIzLCBVKzA0MjQsIFUrMDQyNSwgVSswNDI3LCBVKzA0MjYsIFUrMDQyOCwgVSswNDI5LCBVKzA0MGYsIFUrMDQyYywgVSswNDJhLCBVKzA0MmIsIFUrMDQwOSwgVSswNDBhLCBVKzA0MDUsIFUrMDQwNCwgVSswNDJkLCBVKzA0MDYsIFUrMDQwNywgVSswNDA4LCBVKzA0MGIsIFUrMDQyZSwgVSswNDJmLCBVKzA0MDIsIFUrMDQzMCwgVSswNDMxLCBVKzA0MzIsIFUrMDQzMywgVSswNDUzLCBVKzA0OTEsIFUrMDQzNCwgVSswNDM1LCBVKzA0NTAsIFUrMDQ1MSwgVSswNDM2LCBVKzA0MzcsIFUrMDQzOCwgVSswNDM5LCBVKzA0NWQsIFUrMDQzYSwgVSswNDVjLCBVKzA0M2IsIFUrMDQzYywgVSswNDNkLCBVKzA0M2UsIFUrMDQzZiwgVSswNDQwLCBVKzA0NDEsIFUrMDQ0MiwgVSswNDQzLCBVKzA0NDQsIFUrMDQ0NSwgVSswNDQ3LCBVKzA0NDYsIFUrMDQ0OCwgVSswNDQ5LCBVKzA0NWYsIFUrMDQ0YywgVSswNDRhLCBVKzA0NGIsIFUrMDQ1OSwgVSswNDVhLCBVKzA0NTUsIFUrMDQ1NCwgVSswNDRkLCBVKzA0NTYsIFUrMDQ1NywgVSswNDU4LCBVKzA0NWIsIFUrMDQ0ZSwgVSswNDRmLCBVKzA0NTIsIFUrMDM5MSwgVSswMzkyLCBVKzAzOTMsIFUrMDM5NCwgVSswMzk1LCBVKzAzOTYsIFUrMDM5NywgVSswMzk4LCBVKzAzOTksIFUrMDM5YSwgVSswMzliLCBVKzAzOWMsIFUrMDM5ZCwgVSswMzllLCBVKzAzOWYsIFUrMDNhMCwgVSswM2ExLCBVKzAzYTMsIFUrMDNhNCwgVSswM2E1LCBVKzAzYTYsIFUrMDNhNywgVSswM2E4LCBVKzAzYTksIFUrMDM4NiwgVSswMzg4LCBVKzAzODksIFUrMDM4YSwgVSswMzhjLCBVKzAzOGUsIFUrMDM4ZiwgVSswM2FhLCBVKzAzYWIsIFUrMDNjZiwgVSswM2IxLCBVKzAzYjIsIFUrMDNiMywgVSswM2I0LCBVKzAzYjUsIFUrMDNiNiwgVSswM2I3LCBVKzAzYjgsIFUrMDNiOSwgVSswM2JhLCBVKzAzYmIsIFUrMDNiYywgVSswM2JkLCBVKzAzYmUsIFUrMDNiZiwgVSswM2MwLCBVKzAzYzEsIFUrMDNjMiwgVSswM2MzLCBVKzAzYzQsIFUrMDNjNSwgVSswM2M2LCBVKzAzYzcsIFUrMDNjOCwgVSswM2M5LCBVKzAzYWYsIFUrMDNjYSwgVSswMzkwLCBVKzAzY2QsIFUrMDNjYiwgVSswM2IwLCBVKzAzY2MsIFUrMDNjZSwgVSswM2FjLCBVKzAzYWQsIFUrMDNhZSwgVSswM2Q3IiwidmVyc2lvbiI6IjEuODA4In0%3D)
    format("woff");
  font-family: ml;
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0410, U+0411, U+0412, U+0413, U+0403, U+0490, U+0414, U+0415,
    U+0400, U+0401, U+0416, U+0417, U+0418, U+0419, U+040d, U+041a, U+040c,
    U+041b, U+041c, U+041d, U+041e, U+041f, U+0420, U+0421, U+0422, U+0423,
    U+0424, U+0425, U+0427, U+0426, U+0428, U+0429, U+040f, U+042c, U+042a,
    U+042b, U+0409, U+040a, U+0405, U+0404, U+042d, U+0406, U+0407, U+0408,
    U+040b, U+042e, U+042f, U+0402, U+0430, U+0431, U+0432, U+0433, U+0453,
    U+0491, U+0434, U+0435, U+0450, U+0451, U+0436, U+0437, U+0438, U+0439,
    U+045d, U+043a, U+045c, U+043b, U+043c, U+043d, U+043e, U+043f, U+0440,
    U+0441, U+0442, U+0443, U+0444, U+0445, U+0447, U+0446, U+0448, U+0449,
    U+045f, U+044c, U+044a, U+044b, U+0459, U+045a, U+0455, U+0454, U+044d,
    U+0456, U+0457, U+0458, U+045b, U+044e, U+044f, U+0452, U+0391, U+0392,
    U+0393, U+0394, U+0395, U+0396, U+0397, U+0398, U+0399, U+039a, U+039b,
    U+039c, U+039d, U+039e, U+039f, U+03a0, U+03a1, U+03a3, U+03a4, U+03a5,
    U+03a6, U+03a7, U+03a8, U+03a9, U+0386, U+0388, U+0389, U+038a, U+038c,
    U+038e, U+038f, U+03aa, U+03ab, U+03cf, U+03b1, U+03b2, U+03b3, U+03b4,
    U+03b5, U+03b6, U+03b7, U+03b8, U+03b9, U+03ba, U+03bb, U+03bc, U+03bd,
    U+03be, U+03bf, U+03c0, U+03c1, U+03c2, U+03c3, U+03c4, U+03c5, U+03c6,
    U+03c7, U+03c8, U+03c9, U+03af, U+03ca, U+0390, U+03cd, U+03cb, U+03b0,
    U+03cc, U+03ce, U+03ac, U+03ad, U+03ae, U+03d7;
}
@font-face {
  src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbImNhbHQiLCJsaWdhIiwiemVybyIsInNzMDEiLCJzczAyIiwic3MwMyIsInNzMDQiLCJzczA1Iiwic3MwNiIsInN1cHMiLCJzdWJzIiwib251bSIsImZyYWMiXSwiZXhjbHVkZSI6W10sIndlaWdodCI6NDAwLCJzdHlsZSI6Iml0YWxpYyIsInVuaWNvZGVSYW5nZSI6IlUrMDQxMCwgVSswNDExLCBVKzA0MTIsIFUrMDQxMywgVSswNDAzLCBVKzA0OTAsIFUrMDQxNCwgVSswNDE1LCBVKzA0MDAsIFUrMDQwMSwgVSswNDE2LCBVKzA0MTcsIFUrMDQxOCwgVSswNDE5LCBVKzA0MGQsIFUrMDQxYSwgVSswNDBjLCBVKzA0MWIsIFUrMDQxYywgVSswNDFkLCBVKzA0MWUsIFUrMDQxZiwgVSswNDIwLCBVKzA0MjEsIFUrMDQyMiwgVSswNDIzLCBVKzA0MjQsIFUrMDQyNSwgVSswNDI3LCBVKzA0MjYsIFUrMDQyOCwgVSswNDI5LCBVKzA0MGYsIFUrMDQyYywgVSswNDJhLCBVKzA0MmIsIFUrMDQwOSwgVSswNDBhLCBVKzA0MDUsIFUrMDQwNCwgVSswNDJkLCBVKzA0MDYsIFUrMDQwNywgVSswNDA4LCBVKzA0MGIsIFUrMDQyZSwgVSswNDJmLCBVKzA0MDIsIFUrMDQzMCwgVSswNDMxLCBVKzA0MzIsIFUrMDQzMywgVSswNDUzLCBVKzA0OTEsIFUrMDQzNCwgVSswNDM1LCBVKzA0NTAsIFUrMDQ1MSwgVSswNDM2LCBVKzA0MzcsIFUrMDQzOCwgVSswNDM5LCBVKzA0NWQsIFUrMDQzYSwgVSswNDVjLCBVKzA0M2IsIFUrMDQzYywgVSswNDNkLCBVKzA0M2UsIFUrMDQzZiwgVSswNDQwLCBVKzA0NDEsIFUrMDQ0MiwgVSswNDQzLCBVKzA0NDQsIFUrMDQ0NSwgVSswNDQ3LCBVKzA0NDYsIFUrMDQ0OCwgVSswNDQ5LCBVKzA0NWYsIFUrMDQ0YywgVSswNDRhLCBVKzA0NGIsIFUrMDQ1OSwgVSswNDVhLCBVKzA0NTUsIFUrMDQ1NCwgVSswNDRkLCBVKzA0NTYsIFUrMDQ1NywgVSswNDU4LCBVKzA0NWIsIFUrMDQ0ZSwgVSswNDRmLCBVKzA0NTIsIFUrMDM5MSwgVSswMzkyLCBVKzAzOTMsIFUrMDM5NCwgVSswMzk1LCBVKzAzOTYsIFUrMDM5NywgVSswMzk4LCBVKzAzOTksIFUrMDM5YSwgVSswMzliLCBVKzAzOWMsIFUrMDM5ZCwgVSswMzllLCBVKzAzOWYsIFUrMDNhMCwgVSswM2ExLCBVKzAzYTMsIFUrMDNhNCwgVSswM2E1LCBVKzAzYTYsIFUrMDNhNywgVSswM2E4LCBVKzAzYTksIFUrMDM4NiwgVSswMzg4LCBVKzAzODksIFUrMDM4YSwgVSswMzhjLCBVKzAzOGUsIFUrMDM4ZiwgVSswM2FhLCBVKzAzYWIsIFUrMDNjZiwgVSswM2IxLCBVKzAzYjIsIFUrMDNiMywgVSswM2I0LCBVKzAzYjUsIFUrMDNiNiwgVSswM2I3LCBVKzAzYjgsIFUrMDNiOSwgVSswM2JhLCBVKzAzYmIsIFUrMDNiYywgVSswM2JkLCBVKzAzYmUsIFUrMDNiZiwgVSswM2MwLCBVKzAzYzEsIFUrMDNjMiwgVSswM2MzLCBVKzAzYzQsIFUrMDNjNSwgVSswM2M2LCBVKzAzYzcsIFUrMDNjOCwgVSswM2M5LCBVKzAzYWYsIFUrMDNjYSwgVSswMzkwLCBVKzAzY2QsIFUrMDNjYiwgVSswM2IwLCBVKzAzY2MsIFUrMDNjZSwgVSswM2FjLCBVKzAzYWQsIFUrMDNhZSwgVSswM2Q3IiwidmVyc2lvbiI6IjEuODA4In0%3D)
    format("woff");
  font-family: ml;
  font-weight: 400;
  font-style: italic;
  unicode-range: U+0410, U+0411, U+0412, U+0413, U+0403, U+0490, U+0414, U+0415,
    U+0400, U+0401, U+0416, U+0417, U+0418, U+0419, U+040d, U+041a, U+040c,
    U+041b, U+041c, U+041d, U+041e, U+041f, U+0420, U+0421, U+0422, U+0423,
    U+0424, U+0425, U+0427, U+0426, U+0428, U+0429, U+040f, U+042c, U+042a,
    U+042b, U+0409, U+040a, U+0405, U+0404, U+042d, U+0406, U+0407, U+0408,
    U+040b, U+042e, U+042f, U+0402, U+0430, U+0431, U+0432, U+0433, U+0453,
    U+0491, U+0434, U+0435, U+0450, U+0451, U+0436, U+0437, U+0438, U+0439,
    U+045d, U+043a, U+045c, U+043b, U+043c, U+043d, U+043e, U+043f, U+0440,
    U+0441, U+0442, U+0443, U+0444, U+0445, U+0447, U+0446, U+0448, U+0449,
    U+045f, U+044c, U+044a, U+044b, U+0459, U+045a, U+0455, U+0454, U+044d,
    U+0456, U+0457, U+0458, U+045b, U+044e, U+044f, U+0452, U+0391, U+0392,
    U+0393, U+0394, U+0395, U+0396, U+0397, U+0398, U+0399, U+039a, U+039b,
    U+039c, U+039d, U+039e, U+039f, U+03a0, U+03a1, U+03a3, U+03a4, U+03a5,
    U+03a6, U+03a7, U+03a8, U+03a9, U+0386, U+0388, U+0389, U+038a, U+038c,
    U+038e, U+038f, U+03aa, U+03ab, U+03cf, U+03b1, U+03b2, U+03b3, U+03b4,
    U+03b5, U+03b6, U+03b7, U+03b8, U+03b9, U+03ba, U+03bb, U+03bc, U+03bd,
    U+03be, U+03bf, U+03c0, U+03c1, U+03c2, U+03c3, U+03c4, U+03c5, U+03c6,
    U+03c7, U+03c8, U+03c9, U+03af, U+03ca, U+0390, U+03cd, U+03cb, U+03b0,
    U+03cc, U+03ce, U+03ac, U+03ad, U+03ae, U+03d7;
}
@font-face {
  src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbImNhbHQiLCJsaWdhIiwiemVybyIsInNzMDEiLCJzczAyIiwic3MwMyIsInNzMDQiLCJzczA1Iiwic3MwNiIsInN1cHMiLCJzdWJzIiwib251bSIsImZyYWMiXSwiZXhjbHVkZSI6W10sIndlaWdodCI6NDAwLCJzdHlsZSI6Im5vcm1hbCIsInVuaWNvZGVSYW5nZSI6IlUrMjVjZiwgVSsyNWNiLCBVKzI1ZWYsIFUrMjVkMCwgVSsyNWQxLCBVKzI1ZDIsIFUrMjVkMywgVSsyNWQ2LCBVKzI1ZDcsIFUrMjVkNCwgVSsyNWQ1LCBVKzI1ZjQsIFUrMjVmNSwgVSsyNWY2LCBVKzI1ZjcsIFUrMjVjZCwgVSsyNWNjLCBVKzI1YzksIFUrMjVjZSwgVSsyNWU2LCBVKzI1ZDksIFUrMjVkYSwgVSsyNWRiLCBVKzI1ZTAsIFUrMjVlMSwgVSsyNWRjLCBVKzI1ZGQsIFUrMjVkZSwgVSsyNWRmLCBVKzI1YzYsIFUrMjVjNywgVSsyNWFlLCBVKzI1YWMsIFUrMjVhZCwgVSsyNWFmLCBVKzI1YTAsIFUrMjVhMSwgVSsyNWEyLCBVKzI1YTMsIFUrMjVhYSwgVSsyNWFiLCBVKzI1ZTcsIFUrMjVlOCwgVSsyNWU5LCBVKzI1ZWEsIFUrMjVlYiwgVSsyNWYwLCBVKzI1ZjEsIFUrMjVmMiwgVSsyNWYzLCBVKzI1YjIsIFUrMjViNiwgVSsyNWJjLCBVKzI1YzAsIFUrMjVjNCwgVSsyNWU1LCBVKzI1ZTIsIFUrMjVlMywgVSsyNWU0IiwidmVyc2lvbiI6IjEuODA4In0%3D)
    format("woff");
  font-family: ml;
  font-weight: 400;
  font-style: normal;
  unicode-range: U+25cf, U+25cb, U+25ef, U+25d0, U+25d1, U+25d2, U+25d3, U+25d6,
    U+25d7, U+25d4, U+25d5, U+25f4, U+25f5, U+25f6, U+25f7, U+25cd, U+25cc,
    U+25c9, U+25ce, U+25e6, U+25d9, U+25da, U+25db, U+25e0, U+25e1, U+25dc,
    U+25dd, U+25de, U+25df, U+25c6, U+25c7, U+25ae, U+25ac, U+25ad, U+25af,
    U+25a0, U+25a1, U+25a2, U+25a3, U+25aa, U+25ab, U+25e7, U+25e8, U+25e9,
    U+25ea, U+25eb, U+25f0, U+25f1, U+25f2, U+25f3, U+25b2, U+25b6, U+25bc,
    U+25c0, U+25c4, U+25e5, U+25e2, U+25e3, U+25e4;
}
@font-face {
  src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbImNhbHQiLCJsaWdhIiwiemVybyIsInNzMDEiLCJzczAyIiwic3MwMyIsInNzMDQiLCJzczA1Iiwic3MwNiIsInN1cHMiLCJzdWJzIiwib251bSIsImZyYWMiXSwiZXhjbHVkZSI6W10sIndlaWdodCI6NDAwLCJzdHlsZSI6Iml0YWxpYyIsInVuaWNvZGVSYW5nZSI6IlUrMjVjZiwgVSsyNWNiLCBVKzI1ZWYsIFUrMjVkMCwgVSsyNWQxLCBVKzI1ZDIsIFUrMjVkMywgVSsyNWQ2LCBVKzI1ZDcsIFUrMjVkNCwgVSsyNWQ1LCBVKzI1ZjQsIFUrMjVmNSwgVSsyNWY2LCBVKzI1ZjcsIFUrMjVjZCwgVSsyNWNjLCBVKzI1YzksIFUrMjVjZSwgVSsyNWU2LCBVKzI1ZDksIFUrMjVkYSwgVSsyNWRiLCBVKzI1ZTAsIFUrMjVlMSwgVSsyNWRjLCBVKzI1ZGQsIFUrMjVkZSwgVSsyNWRmLCBVKzI1YzYsIFUrMjVjNywgVSsyNWFlLCBVKzI1YWMsIFUrMjVhZCwgVSsyNWFmLCBVKzI1YTAsIFUrMjVhMSwgVSsyNWEyLCBVKzI1YTMsIFUrMjVhYSwgVSsyNWFiLCBVKzI1ZTcsIFUrMjVlOCwgVSsyNWU5LCBVKzI1ZWEsIFUrMjVlYiwgVSsyNWYwLCBVKzI1ZjEsIFUrMjVmMiwgVSsyNWYzLCBVKzI1YjIsIFUrMjViNiwgVSsyNWJjLCBVKzI1YzAsIFUrMjVjNCwgVSsyNWU1LCBVKzI1ZTIsIFUrMjVlMywgVSsyNWU0IiwidmVyc2lvbiI6IjEuODA4In0%3D)
    format("woff");
  font-family: ml;
  font-weight: 400;
  font-style: italic;
  unicode-range: U+25cf, U+25cb, U+25ef, U+25d0, U+25d1, U+25d2, U+25d3, U+25d6,
    U+25d7, U+25d4, U+25d5, U+25f4, U+25f5, U+25f6, U+25f7, U+25cd, U+25cc,
    U+25c9, U+25ce, U+25e6, U+25d9, U+25da, U+25db, U+25e0, U+25e1, U+25dc,
    U+25dd, U+25de, U+25df, U+25c6, U+25c7, U+25ae, U+25ac, U+25ad, U+25af,
    U+25a0, U+25a1, U+25a2, U+25a3, U+25aa, U+25ab, U+25e7, U+25e8, U+25e9,
    U+25ea, U+25eb, U+25f0, U+25f1, U+25f2, U+25f3, U+25b2, U+25b6, U+25bc,
    U+25c0, U+25c4, U+25e5, U+25e2, U+25e3, U+25e4;
}
