@import "../../styles/variables";

.about-me-container {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-left: 200px;
  padding-right: 200px;
}

.about-me-header-text {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .about-me-container {
    padding-top: 100px;
  }
}
