@import "../../styles/variables";

.about-me-container {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 40px;
}

.about-me-header-text {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .about-me-container {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
  }

  .about-me-text {
    text-align: center;
    font-size: 0.8rem;
  }
}
