@import "../styles/variables";

.App {
  background-color: $white;
}

.content {
  font-family: Roboto;
}

.black {
  color: $black;
}

.lighterGray {
  color: $lighter-gray;
}

.gray {
  color: $gray;
}

.lightGray {
  color: $light-gray;
}

.red {
  color: $red;
}

.green {
  color: $green;
}
