@import "../../styles/variables";

.footer {
  color: $light-gray;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family: ml;
}

.icon {
  color: $green;
  padding: 10px;
}

.icon:hover {
  color: $red;
}
